In [2]:
import pandas as pd
import numpy as np

In [39]:
file = pd.read_csv('D:\\Earth.Org\\4seasons\\season_len.csv')
file = file.set_index('Unnamed: 0')
file

            Year          Geometry  Spring  Winter  Autumn  Summer
Unnamed: 0
0           1950    POINT (0 32.5)      19     346       0       0
1           1951    POINT (0 32.5)      21     344       0       0
2           1952    POINT (0 32.5)      21     335       8       1
3           1953    POINT (0 32.5)      20     345       0       0
4           1954    POINT (0 32.5)      18     347       0       0
...          ...               ...     ...     ...     ...     ...
73723       2014   POINT (-7.5 30)      21     124      40     151
73724       2011  POINT (-3.75 30)      21      93      65     153
73725       2012  POINT (-3.75 30)      21     141      34     155
73726       2013  POINT (-3.75 30)      21     152      24     148
73727       2014  POINT (-3.75 30)      21     116      34     163

[73728 rows x 6 columns]

In [40]:
file = file.sort_values(by=['Geometry', 'Year'])

In [41]:
file = file.set_index(['Year'])
file

                Geometry  Spring  Winter  Autumn  Summer
Year
1950  POINT (-101.25 30)       0       0       0       0
1951  POINT (-101.25 30)       0       0       0       0
1952  POINT (-101.25 30)       0       0       0       0
1953  POINT (-101.25 30)       0       0       0       0
1954  POINT (-101.25 30)       0       0       0       0
...                  ...     ...     ...     ...     ...
2010     POINT (97.5 60)      19     346       0       0
2011     POINT (97.5 60)      20     345       0       0
2012     POINT (97.5 60)      19     346       0       0
2013     POINT (97.5 60)      20     345       0       0
2014     POINT (97.5 60)      21     271      58       9

[73728 rows x 5 columns]

In [45]:
li = []
for x in file[file['Summer'] == 0]['Geometry']:
    li.append(x)
li = list(set(li))
file[~file['Geometry'].isin(li)]
usable_data = pd.DataFrame()
usable_data = file[~file['Geometry'].isin(li)]
usable_data.to_csv('D:\\Earth.Org\\4seasons\\season_len(filtered).csv')

In [47]:
usable_data[100:300]

                Geometry  Spring  Winter  Autumn  Summer
Year
1987  POINT (-101.25 40)      21     227      49      46
1988  POINT (-101.25 40)      21     251      34      42
1989  POINT (-101.25 40)      21     224      70      26
1990  POINT (-101.25 40)      21     242      35      48
1991  POINT (-101.25 40)      21     251      39      37
...                  ...     ...     ...     ...     ...
1990   POINT (-11.25 30)      21     164      38     129
1991   POINT (-11.25 30)      21     176      46     113
1992   POINT (-11.25 30)      21     137      84      97
1993   POINT (-11.25 30)      21     173      55      96
1994   POINT (-11.25 30)      21     142      63     107

[200 rows x 5 columns]